<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ shop.name }}</title>
  <style>
    @font-face { font-family: 'PPEditorialNew'; src: url('{{ "PPEditorialNew-Ultralight.otf" | asset_url }}') format('opentype'); font-weight: 200; font-style: normal; font-display: swap; }
  </style>
  {{ 'theme.css' | asset_url | stylesheet_tag }}
  {{ content_for_header }}
</head>
<body>
  {{ content_for_layout }}
  <script src="{{ 'theme.js' | asset_url }}" defer></script>
</body>
</html>
